// Place all the styles related to the users controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
.profile-border{
  padding: 50px;
  border: 4px solid grey;
  border-radius: 20px;
}