= render 'layouts/header/topline_navbar'
= render 'layouts/header/navbar'
= render 'layouts/header/navbar_header'

#new-email.modal.fade role='dialog'
  = render 'shared/emails/new_email_modal'

javascript:
  $(document).ready(function () {

    $('.dropdown-submenu a.test').on("click", function (e) {
      $(this).next('ul').toggle();
      e.stopPropagation();
      e.preventDefault();
    });

    $('#show-hide').on('click', function(e){
      if ($('#topline').is(':visible') == true){
        $('#topline').hide();
      }else {
        $('#topline').show();
      }
    });

  });
